* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-evenly;

    align-items: center;

    font-family: sans-serif;
    color: black;
    font-weight: 100;

    text-align: center;

    height: 100vh;

}

.imagem{
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    margin: 15px;
    
    gap: 15px;
}

.usuario {
    display: block;

    margin: auto;

    width: 250px;
    height: 25px;

    text-align: center;

    color: black;

    border: 1px solid black;

    font-size: 15px;

    border-radius: 5px;
}

.senha {
    display: block;

    margin: auto;

    width: 250px;
    height: 25px;

    text-align: center;

    color: black;

    border: 1px solid black;

    font-size: 15px;

    border-radius: 5px;
}

.botao {

    display: block;

    width: 125px;
    height: 25px;

    background-color: white;
    color: black;

    border: black 1px solid;
    border-radius: 5px;

    margin: 0 auto;

}

.botao:hover {
    background-color: black;
    color: white;
}

.img-login {
    width: 70%;
    border-radius: 15px;

    box-shadow: 8px 10px 20px black;
}