<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <title>Cadastro</title>
</head>

<body>

    <div class="container">

        <div class="imagem">
            <img class="img-login" src="img/img-login.jpg" alt="">
        </div>

        <div class="login">

            <h1>Crie uma conta:</h1>

            <input class="usuario" type="text" placeholder="Nome completo...">
            <input class="email" type="email" placeholder="Email...">
            <input class="senha" type="password" placeholder="Senha...">
            <input class="senha" type="password" placeholder="Confirme sua senha...">
            <input class="telefone" type="number" placeholder="Número de telefone">

            <input type="button" class="botao" value="Cadastrar">

        </div>

    </div>

</body>

</html>