<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Clinic</title>
</head>

<body>
    <header class="cabecalho">
        <div class="cabecalho-logo">
            <h2>Clínica Médica</h2>
            <h3>Exames & Diagnósticos</h3>
        </div>
        <nav class="cabecalho-menu">
            <a href="#" class="cabecalho-menu-item">SOBRE NÓS</a>
            <a href="#" class="cabecalho-menu-item">ESPECIALIDADES</a>
            <a href="#" class="cabecalho-menu-item">CONVÊNIOS</a>
            <a href="#" class="cabecalho-menu-item">CONTATO</a>
        </nav>
    </header>
    <section class="conteudo">
        <div class="cards">
            <div class="card" id="card1">
                <h1>Cardiologia</h1>
                <h3>Cardiologia é a área de atuação médica que se ocupa do diagnóstico e tratamento das doenças que
                    acometem o coração e também do sistema circulatório.</h3>
            </div>
            <div class="card" id="card2">
                <h1>Neurologia</h1>
                <h3>É a área de atuação médica que se dedica ao diagnóstico e tratamento de doenças que afetam o sistema nervoso.</h3>
            </div>
            <div class="card" id="card3">
                <h1>Ortopedia</h1>
                <h3>É a área de atuação médica que cuida das doenças e deformidades dos ossos, músculos, ligamentos, articulações e tudo mais relacionado ao aparelho locomotor.</h3>
            </div>
        </div>

        <div class="agendamento">
            <h1>Agende sua consulta</h1>
            <input class="button" type="button" value="Saiba mais">
        </div>

    </section>

</body>

</html>