<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>



    <div class="container">

        <div class="imagem">
            <img class="img-login" src="img/img-login.jpg" alt="">
        </div>

        <div class="login">

            <h1>Login</h1>

            <input class="usuario" type="text" placeholder="Digite seu usuário...">
            <input class="senha" type="password" placeholder="Digite sua senha...">

            <input type="button" class="botao" value="Login">

        </div>

    </div>


</body>

</html>