.titulo {
    text-align: center;
}

.titulo h1 {
    font-size: xx-large;
}

h2 {
    font-size: medium;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.horario{
    margin: 2px;
}